.counter-container
  .counter-box
    .countdown
      .counter-item.item-day 00
      .counter-item 00
      .counter-item 00
      .counter-item 00
  = Snippet.find_by_slug!('countdown').to_html.html_safe
