.counter-container
  .counter-box
    .countdown
      .counter-item.item-day 00
      .counter-item 00
      .counter-item 00
      .counter-item 00
  %h1 Christmas Time
  %h3 Christmas Lights Are Really Pretty!
