#schedule{ data: { todo: 'Schema.org the dates' } }
  Lights start/turn on November 28, 2014 - January 4, 2015
  Lights Open 7 Days A Week

  See Santa & Free Hot Chocolate - 5:00pm - 9:00pm 
  November 28, 29, 30
  December 5, 6, 7
  December 12, 13, 14
  December 19, 20, 21, 22
